@if (ViewBag.ErrorTitle == null)
{
    <h3>An Occured Processing Your request</h3>
    <h5>Please Contact us on anand@gmail.com</h5>
}
else
{
    <h1 class="text-danger">@ViewBag.ErrorTitle </h1>
    <h6 class="text-danger">@ViewBag.ErrorMsg</h6>
}